<div style=" font-weight: bold; padding:222px ;display: flex; justify-content: center; align-items: center; flex-direction: row; margin-top: 15%; background-color: lightslategrey">

  <form class="row g-3" [formGroup]="formCepForm">

    <div class="col-md-3">
      <label for="cep" class="control-label">CEP</label>
      <input type="text" class="form-control" id="cep" name="cep" required #cepInput formControlName="cep"
             (blur)="consultaCEP(cepInput.value )">
    </div>

    <div class="col-md-3">
      <label for="numero" class="control-label">Número</label>
      <input type="text" class="form-control" id="numero" name="numero"  required #numero formControlName="numero">
    </div>

    <div class="col-md-4">
      <label for="rua" class="control-label">Rua</label>
      <input type="text" class="form-control" id="rua" name="rua"  required #rua formControlName="rua">
    </div>

    <div class="col-md-3">
      <label for="complemento" class="control-label">Complemento</label>
      <input type="text" class="form-control" id="complemento" name="complemento"  #complemento formControlName="complemento" >
    </div>
    <div class="col-md-3">
      <label for="bairro" class="control-label">Bairro</label>
      <input type="text" class="form-control" id="bairro" name="bairro"  #bairro formControlName="bairro">
    </div>

    <div class="col-md-6">
      <label for="cidade" class="control-label">Cidade</label>
      <input type="text" class="form-control" id="cidade" name="cidade"  #cidade formControlName="cidade">
    </div>

    <div class="col-md-12">
      <label for="estado" class="control-label">Estado</label>
      <input type="text" class="form-control" id="estado" name="estado"  #estado formControlName="estado">
    </div>

  </form>

</div>
